<!DOCTYPE html>
<html>
<head>
  <title>Maze</title>
  <meta charset="UTF-8">
  <style type="text/css">
    [v-cloak] {
      display: none;
    }

    #app {
      white-space: nowrap;
    }

    .line {
      display: inline-block;
    }

    .cell-black {
      background-color: black;
      width: 12px;
      height: 12px;
    }
    .cell-white {
      background-color: white;
      width: 12px;
      height: 12px;
    }
  </style>
</head>
<body>
  <div id="app">
    <div>
      <p>X: <input v-model.number="x" type="number"></p>
      <p>Y: <input v-model.number="y" type="number"></p>
    </div>
    <div v-for="(line, index) in maze" :key="index" v-cloak class="line">
      <div v-for="(cell, index) in line" :key="index" v-cloak :class="cell"></div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script type="text/javascript">
    app = new Vue({
      el: '#app',
      data: {
        x: 9,
        y: 9
      },
      computed: {
        maze() {
          const x = this.x
          const y = this.y
          const maze = [...Array(x)].map(() => Array(y).fill(1))

          function recursion(r, c) {
            const randDirs = generateRandomDirections();
            for (let i = 0; i < randDirs.length; i++) {
              switch(randDirs[i]) {
                case 1:
                  if (r - 2 <= 0) continue
                  if (maze[r - 2][c] != 0) {
                    maze[r - 2][c] = 0
                    maze[r - 1][c] = 0
                    recursion(r - 2, c)
                  }
                  break;
                case 2:
                  if (c + 2 >= y - 1) continue
                  if (maze[r][c + 2] != 0) {
                    maze[r][c + 2] = 0
                    maze[r][c + 1] = 0
                    recursion(r, c + 2)
                  }
                  break;
                case 3:
                  if (r + 2 >= x - 1) continue
                  if (maze[r + 2][c] != 0) {
                    maze[r + 2][c] = 0
                    maze[r + 1][c] = 0
                    recursion(r + 2, c)
                  }
                  break;
                case 4:
                  if (c - 2 <= 0) continue
                  if (maze[r][c - 2] != 0) {
                    maze[r][c - 2] = 0
                    maze[r][c - 1] = 0
                    recursion(r, c - 2)
                  }
                  break;
              }
            }
          }

          function generateRandomDirections() {
            const randoms = [1, 2, 3, 4]
            for (let i = randoms.length - 1; i >= 0; i--) {
              const r = Math.floor(Math.random() * (i + 1))
              const tmp = randoms[i]
              randoms[i] = randoms[r]
              randoms[r] = tmp
            }
            return randoms
          }

          maze[1][1] = 0
          recursion(1, 1)

          return maze.map(line => line.map(cell => cell ? "cell-black" : "cell-white"))
        }
      }
    })
  </script>
</body>
</html>
