<!DOCTYPE html>
<html>
  <head>
    <title>Maze</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="maze.css" />
  </head>
  <body>
    <div id="app">
      <v-app>
        <v-content>
          <v-container fluid>
            <v-row>
              <v-col>
                <v-card class="my-2">
                  <v-card-title>迷路生成</v-card-title>
                  <v-card-text class="pb-0">
                    <v-container fluid>
                      <v-text-field v-model.number="x" :label="`X: ${x}`" type="number" min="5" step="2"></v-text-field>
                      <v-text-field v-model.number="y" :label="`Y: ${y}`" type="number" min="5" step="2"></v-text-field>
                    </v-container>
                  </v-card-text>
                  <v-card-actions class="pt-0">
                    <v-spacer></v-spacer>
                    <v-btn @click="regenMaze()">再生成</v-btn>
                  </v-card-actions>
                </v-card>
              </v-col>

              <v-col>
                <v-card class="my-2">
                  <v-card-title>迷路解決</v-card-title>
                  <v-card-text class="pb-0">
                    <p class="subtitle-1 black--text" v-cloak>
                      <span class="green--text">{{ numberOfSuccesses }}</span>
                      <span class="red--text">{{ numberOfFailures }}</span>
                      {{ numberOfSuccesses + numberOfFailures }}
                      ({{ maxMatch }} / {{ minMatch }})
                    </p>
                    <div>
                      <v-text-field v-model.number="time" :label="`Time: ${time}`" type="number" min="0"></v-text-field>
                      <v-text-field v-model.number="interval" :label="`Interval: ${interval}ms`" type="number" min="0" step="10"></v-text-field>
                    </div>
                  </v-card-text>
                  <v-card-actions class="pt-0">
                    <v-spacer></v-spacer>
                    <v-btn color="primary" @click="solve()">解決</v-btn>
                    <v-btn color="secondary" @click="solveXTimes(time)">解決 {{ time }}回</v-btn>
                    <v-btn color="error" @click="stopSolve()">解決停止</v-btn>
                  </v-card-actions>
                </v-card>
              </v-col>
            </v-row>
            
            <v-row>
              <v-col>
                <v-card class="my-2">
                  <v-card-text>
                    <div class="maze" ref="maze" :style="{ '--x': x }">
                      <div v-for="(line, x2) in maze" :key="x2" v-cloak class="line">
                        <div
                          v-for="(cell, y2) in line"
                          :key="y2"
                          v-cloak
                          class="cell"
                          :class="cellCSS(cell, x2, y2)"
                        >
                          <div class="cell-match" :style="cellMatchStyle(match[x2][y2])">
                            <span v-on="on" v-cloak>{{ match[x2][y2] }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </v-card-text>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-content>
      </v-app>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="maze.js"></script>
  </body>
</html>
